@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 226, 226);
    padding: 10px 200px;
    width: 100%;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    color: #1e1e98;
    font-weight: 800;
    text-transform: uppercase;
}
.logo:hover{
    color: #3c3cd7;
}

.main-nav a{
    text-decoration: none;
    font-size: 20px;
    color: #1e1e98;
    font-weight: 600;
    padding: 0 20px;
    text-transform: capitalize;
}

.main-nav a:hover{
    background-color: #3c3cd7;
    color: white;
    border-radius: 20px;
}
section{
    padding: 100px 200px;

}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/basic.f4f127adeeaf58d28161c05c04b22668.png");
    background-size: cover;
    background-position: center;
    color: white;
}
.main div{
    width: 70%;
}

.main div span{
    font-size: 30px;
    font-weight: 700;
    color:#3c3cd7;
    display: inline-block;
    margin: 10px 0;
}

.main-btn{
    text-decoration: none;
    display: inline-block;
    background-color: #1e1e98;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px 0;
    padding: 10px;
    transition: .7s ease;
}

.main-btn:hover{
    background-color: #3c3cd7;
    transform: scale(1.1);
}

.social a{
    color: white;
    font-size: 25px;
    padding-left: 10px;
}
.title{
    display: flex;
    justify-content: center;
    color: #3c3cd7;
    font-size: 30px;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    flex-direction: row;
}
.card{
    width: 21.25em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 25px;
    transition: 0.5s ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.card .icon{
    font-size: 80px;
    color: #3c3cd7;

}

.card .text h3{
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
    color:#3c3cd7;
}

.projects{
    background-color: #08081f;
    width: 100%;
    min-height: 100vh;
}
.projects .content{
    margin-top: 30px;
}

.project-card{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    min-height: 14em;
    width: 22em;
    margin: 10px;
    transition: .7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}
.project-image img:hover{
    opacity: .9;
}

.project-image img{
    width: 100%;
    height: 100%;
    
}

.info{
    text-align: center;
    padding: 10px;

}
.info a{
    text-decoration: none;
    color:#3c3cd7;
    font-weight: 600;
}
.info a:hover{
    color: #0824f7;

}

.contact .icon{
    font-size: 28px;
}

.contact .text h3{

    color:#08081f;
}

.contact .text p{
    
    font-size: 18px;
    font-weight: 600;
}

.footer{
    background-color: #08081f;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}
.footer span{
    color: #0824f7;
}


.footer .social a:hover{
     color:#3c3cd7;
}


@media (max-width: 768px){
    .main{
        width: 670px;
        height: 1193px;
    }
    header{
        padding: 10px 20px;
    }
    .logo{
        font-size: 20px;
    }
    .main-nav a{
    text-decoration: none;
    font-size: 16px;
    color: #1e1e98;
    font-weight: 600;
    padding: 0 6px;
    text-transform: capitalize;
    }
    .main div{
    width: 412px;
    padding: 15px;
}

.main div span{
    font-size: 20px;
    font-weight: 700;
    color:#3c3cd7;
    display: inline-block;
    margin: 10px 0;
}

.main-btn{
    text-decoration: none;
    display: inline-block;
    background-color: #1e1e98;
    color: white;
    font-size: 10px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px 0;
    padding: 10px;
    transition: .7s ease;
}
.main h3{
    font-size: 16px;
}
.cards{
    width: 670px;
}
.projects{
    width: 670px;
}

.contact{
    width: 670px;
}
.footer{
    width: 670px;
}
}